body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at center, #000428, #004e92);
    color: white;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #000428;
    color: white;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    margin: 0 10px;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav h4 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ff00ff;
}


.card {
    background: #000428;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card h2 {
    margin: 0;
}

.card p {
    margin-top: 10px;
}

.card a {
    text-decoration: none;
    color: white;
    background: #ff00ff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background: #00ffff;
}

.card img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}




.hero {
    background-image: url('./images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#project_title {
    font-size: 3em;
    margin: 0;
    animation: glitch 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;

}


.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.contact {
    text-align: center;
    padding: 50px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
.contact textarea {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}




h1 {
    font-size: 4em;
    margin: 0;
    animation: glitch 1.5s infinite;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
    animation: pulse 2s infinite;
}

section {
    margin-top: 50px;
}

section h2 {
    font-size: 2em;
}

section p {
    font-size: 1.2em;
}

section img {
    width: 100%;
    height: auto;
}

footer {
    background: #000428;
    color: white;
    text-align: center;
    padding: 20px 0;
}


footer {
    background: linear-gradient(to right, #000428);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline;
    margin: 0 15px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.5s ease;
}

.footer ul li a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.footer p {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.footer_logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.footer_logo:hover {
    transform: scale(1.1);
}


/* github lai add gadai */
.git_batch
{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    color: #004e92;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;

}





/* Paragraph Decoration */
.paragraphDec {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #004e92;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.seemore {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #004e92;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.seemore:hover {
    color: #ffcc00;
    text-decoration: underline;
}



/* Media Queries */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        margin: 10px 10px;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 0.8em;
    }

    section h2 {
        font-size: 1.2em;
    }

    section p {
        font-size: 0.8em;
    }
}


@media (max-width: 360px) {
    nav {
        display: flex; 
        flex-direction: column; 
        grid-auto-columns: 1fr;
        justify-content: center; 
        align-items: center;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
        
    }

    .logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .menu {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .menu ul {
        flex-direction: row;
        width: 100%;

    }

    .menu ul li {
        margin: 10px 0;
    }

    .menu ul li a {
        font-size: 14px;
        margin-right: 10px;
    }
}



/* @media (max-width : 360px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        align-items: center;

        font-size: 0.75em;
    }

    #project_title {
        font-size: 2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    section h2 {
        font-size: 1em;
    }

    section p {
        font-size: 1em;
    }
} */



/* Keyframes */
@keyframes glitch {
    0% {
        text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff;
    }

    20% {
        text-shadow: 2px 2px #00ffff, -2px -2px #ff00ff;
    }

    40% {
        text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff;
    }

    60% {
        text-shadow: 2px 2px #00ffff, -2px -2px #ff00ff;
    }

    80% {
        text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff;
    }

    100% {
        text-shadow: 2px 2px #00ffff, -2px -2px #ff00ff;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}